
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-squares:before { content: '\e801'; } /* '' */
.icon-shuffle:before { content: '\e802'; } /* '' */
.icon-to-start:before { content: '\e803'; } /* '' */
.icon-to-end:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-cw:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-volume-up:before { content: '\e809'; } /* '' */